# set the udev rule , make the device_port be fixed by arduino
#
KERNEL=="ttyUSB*", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", MODE:="666", SYMLINK+="car"

